/*rgba(242,145,0,1); Naranja Institucional*/
/*rgba(0,158,227,1); Celeste insticucional*/
/*rgba(87,87,87,1); Gris Institucional*/

/* --------------------------- BARRA DE NAVEGACION --------------------------- */

*
	{
		margin: 0;
		padding: 0;
		transition: all 1s;
	}

nav
	{
		display: grid;
		grid-template-columns: 100px 1fr;
		height: 65px;	
	}

nav > i.fas.fa-bars
	{
		color: rgba(242,145,0,1);
		font-size: 25pt;
		cursor: pointer;
		justify-self:end;
		margin: auto 5vw;
		position: relative;
		top: -50px;
	}

nav > section.logo
	{
		border-right: 20px solid transparent;
		border-bottom: 95px solid rgba(51,51,51,1);
		position: relative;
		top: -100px;
		z-index: 0;
	}

nav > section.logo > img
	{
		width: 65px;
		position: relative;
		top: 100px;
		left: 10px;
	}

.modal 
	{
		display: grid;	
	  	position: absolute; /* Se mantiene en posicion fija */
	  	left: 0;
	  	top: 0;
	  	width: 100%; /* Ocupa todo en ancho */
	  	height: 0; /* Ocupa todo en alto */ /* Permite el scrool si es necesario. */
	  	background-color: rgba(242,145,0,0.8); /* Naranja con transparencia. */
	  	grid-template-rows: 108px 6fr;
	  	overflow: hidden;
	}

.visible
	{
		height: 100vh;
		
	}

.modal-contenido 
	{
		display: grid;
		height: 100vh;
		min-width: 350px;
		margin: auto;
		grid-template-rows: repeat(6, 15vh);
		align-items: center;
		justify-items:center;
	}

.modal-contenido > a
	{
		text-decoration: none;
		color: white;
		font-family: 'Prompt', sans-serif;
		font-weight: 400;
		font-size: 25pt;
		/*Animacion subrayado*/
		background-image: linear-gradient(currentColor, currentColor);
    	background-position: 50% 100%;
    	background-repeat: no-repeat;
    	background-size: 0% 5px;
	}

.modal-contenido > a:hover, .modal-contenido > a:focus, .visited	
	{
		color:black;
		background-size: 100% 5px;
	}

.modal-contenido > i
	{
		justify-self:end; 
		text-align: right;
		padding: 5vh 2.5vh;
		color: white;
		font-size: 25pt;
		cursor: pointer;
	}

.modal-contenido > i:hover
	{
		color: black;
	}


/*-------------------- SECCIONES --------------------*/

h2,h3,p
	{
		font-family: 'Prompt', sans-serif;
		color: white;
	}

section#prin > article.logo	
	{
		max-width: 270px;
		display: grid;
		border-bottom: 5px solid rgba(255,127,0,1);
		padding-top: 8vh ;
	}

section#prin > article.logo > img
	{
		height: 40px;
		justify-self: end;
	}

section#prin > img
	{
		max-width: 350px;
		margin: 0px auto;
		display: block;
	}

.fuera
	{
		display: none;
	}

.fuera > h2
	{
		color: rgba(87,87,87,1);
		font-size: 25px;
	}

.dentro
	{
		line-height: 30px;
		margin-bottom:15px;
		overflow: visible;
	}

.contenedor
	{
		padding: 20px 20px 80px 20px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 15px;
		box-shadow: 0px -10px 0 10px white;
	}

section#Hola, section#Que, section#Como, section#Proyectos, section#Contactanos
	{
		display: grid;
		grid-template-columns:1fr;
		min-height: 300px;
	}

footer
	{
		display: grid;
		grid-template-columns:1fr;
	}

section#Hola > .contenedor, section#Como > .contenedor
	{
		background-color: rgba(242,145,0,1);
	}

section#Que > .contenedor, section#Proyectos > .contenedor
	{
		background-color: rgba(0,158,227,1);
	}

section#Como > .contenedor
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 40px 50px 50px;
		grid-row-gap: 30px;
	}



section#Como > .contenedor > h2
	{
		grid-column: span 3;
		align-self: center;	
	}

section#Como > .contenedor > span
	{
		opacity: 0.7;
	}

span#css
	{
		background-image: url("../img/como/css3.svg");
	}

span#html
	{
		background-image: url("../img/como/html5.svg");
	}

span#javascript
	{
		background-image: url("../img/como/javascript.svg");
	}

span#python
	{
		background-image: url("../img/como/python.svg");
	}

span#photoshop
	{
		background-image: url("../img/como/photoshop.svg");
	}

span#illustrator
	{
		background-image: url("../img/como/illustrator.svg");
	}

section#Como > .contenedor > span:hover
	{
		opacity: 1;
		width: 60px;
		height: 60px;
	}

section#Contactanos > .contenedor
	{
		background-color: rgba(87,87,87,1);
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 40px 1fr;
		grid-row-gap: 30px;
	}

section#Contactanos > .contenedor > h2
	{
		grid-column: span 4;
		align-self: center;
	}

section#Contactanos > .contenedor > a, section#Como > .contenedor > span
	{
		width: 50px;
		height: 50px;
		display: inline-block;
		background-repeat: no-repeat;
		background-size: cover;
		align-self: center;
		justify-self: center;
	}

a#face
	{
		background-image: url("../img/contac/face.svg");
	}

a#mail
	{
		background-image: url("../img/contac/mail.svg");
	}

a#insta
	{
		background-image: url("../img/contac/insta.svg");
	}

a#git
	{
		background-image: url("../img/contac/git.svg");
	}	

section#Contactanos > .contenedor > a:hover
	{
		background-color: rgba(0,0,0,0.3);
		border-radius: 10px;
		box-shadow: 0 3px 20px 12px rgba(0,0,0,0.3);
	}

footer > .contenedor
	{
		padding: 20px 20px 20px 20px;
		border-top-left-radius: 20px;
		box-shadow: 0px -10px 0 10px white;
	}

footer > div > p
	{
		color: rgba(87,87,87,1);
		text-align: center;
	}

@media screen and (min-width: 600px)
	{
		/*-------------------- SECCIONES --------------------*/
		section#prin > article.logo	
			{
				max-width: 450px;
			}

		section#prin > article.logo > img
			{
				height: 60px;

			}

		section#prin > img
			{
				max-width: 500px;
			}

		section#Contactanos > .contenedor
			{
				display: grid;
				grid-template-columns: repeat(2, 200px);
				grid-template-rows: 40px 1fr 1fr;
			}

		section#Contactanos > .contenedor > h2
			{
				grid-column: span 2;
				align-self: center;
			}

		section#Como > .contenedor
			{
				grid-template-rows: 40px 90px 90px;
			}

		section#Contactanos > .contenedor > a, section#Como > .contenedor > span
			{
				width: 80px;
				height: 80px;
			}

		section#Como > .contenedor > span:hover
				{
					opacity: 1;
					width: 90px;
					height: 90px;
				}
	}

@media screen and (min-width: 800px)
	{
		
		/* --------------------------- BARRA DE NAVEGACION --------------------------- */
		nav > i.fas.fa-bars
			{
				display: none;
			}

		nav > .modal
			{
				height: 65px;
				position: relative;
				background-color: rgba(255,255,255,0);
			}

		.modal-contenido > i
			{
				display: none;
			}

		.modal-contenido 
			{
				grid-template-rows: 1fr;
				grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
				height: 65px;
				margin: 0;
			}

		.modal-contenido > a
			{
				font-size:13px;
				background-size: 0% 2px;
				color:rgba(255,127,0,1);

			}

		.modal-contenido > a:hover, .modal-contenido > a:focus, .visited
			{
				color: rgba(255,127,0,1);
				background-size: 100% 2px;
			}

		/*-------------------- SECCIONES --------------------*/
		section#prin > article.logo	
			{
				max-width: 600px;
			}
		section#prin > article.logo > img
			{
				height: 80px;
			}

		section#prin > img
			{
				max-width: 600px;
				margin: 10px auto;
			}

		section#Hola, section#Que, section#Como, section#Proyectos, section#Contactanos, footer
			{
				grid-template-columns: 100px 1fr;
			}

		section#Hola:hover, section#Que:hover, section#Como:hover, section#Proyectos:hover, section#Contactanos:hover
			{
				grid-template-columns: 70px 1fr;
			}
		
		.fuera
			{
				display: grid;
				align-items: center;
				justify-items: center; 
			}

		.fuera > h2
			{
				writing-mode: vertical-lr;
    			transform: rotate(180deg);
			}

		.dentro
			{
				line-height:0;
				overflow: hidden;
			}

		section#Contactanos > .contenedor
			{
				display: grid;
				grid-template-columns: repeat(4, 150px);
				grid-template-rows: 40px 1fr;
			}

		section#Contactanos > .contenedor > h2
			{
				grid-column: span 4;
			}

		section#Como > .contenedor
			{
				grid-template-columns: repeat(6, 1fr);
				grid-template-rows: 40px 1fr;
			}

		section#Como > .contenedor > h2
			{
				grid-column: span 6;
			}
	}